* {
    padding: 0;
    margin: 0;
}

@font-face {
    font-family: roboto;
    src: url(fonts/Roboto-Regular.ttf);
}

:root {
    --side-bar-color: #3d898d;
    --header-color: #e2dddf;
    --main-background-color: #b0acb0;
    --accent-color: #85ebd9;
    --main-font-color:  #2f404d; 
}

.container {
    height: 100vh;
    width: 100vw;
    display: grid;
    grid-template-columns: 1fr 4fr;
    grid-template-rows: 1fr 5fr;
    font-family: roboto;

    
}

.header {
    grid-area: 1 / 2 / 1/ 3;
    background-color: var(--header-color);
}

.sidebar {
    grid-area: 1 / 1 / 3 / 2;
    background-color: var(--side-bar-color);
    display: grid;
    padding: 5% 20% 20% 5%;
    
}

.main {
    grid-area: 2 / 2 / 3 / 3;
    background-color: var(--main-background-color);
}

.navtile > svg {
    width: 35px;
    fill: var(--header-color);
}

.navtile {
    align-items: center;
    display: grid;
    grid-template-columns: 1fr 2fr;
    padding: 5px;
    color: var(--header-color)
}


