* {
    padding: 0;
    margin: 0;
}

@font-face {
    font-family: roboto;
    src: url(fonts/Roboto-Regular.ttf);
}

:root {
    --side-bar-color:#2f2fA2;
    --header-color: white;
    --main-background-color: #99738E;
    --accent-color: #ff184C;
    --main-font-color:  black; 
    --svg-size: 30px;
}

.container {
    height: 100vh;
    width: 100vw;
    display: grid;
    grid-template-columns: 1fr 5fr;
    grid-template-rows: 1fr 5fr;
    font-family: roboto;

    
}
/* Header */
.header {
    grid-area: 1 / 2 / 1/ 3;
    background-color: var(--header-color);
    display: grid;
    grid-template-rows: 1fr 1fr;
    gap: 20px;
    padding: 20px 30px;
    
}

.search-container {
    display: grid;
    grid-template-columns: 10fr 1fr 1fr 3fr;
    height: var(--svg-size);
    align-self: center;
}

form {
    display: grid;
    grid-template-columns: 1fr 10fr ;
    justify-self: left;
}

input {
    height: var(--svg-size);
    width: 40vw;
    border-style: none;
    border-radius: 17px;
    background-color: var(--main-background-color)
}

.profile-name {
    color: var(--main-font-color);
    font-weight: 900;
    font-size: 1.5rem;
}

form > svg {
    height: var(--svg-size);
}

.search-container > svg {
    height: var(--svg-size);
}

.profile-container{
    display: grid;
    grid-template-columns: 1fr 5fr repeat(3, 1fr);
    gap: 50px;
    align-self: center;
}

.profile-name-tag {
    font-size: 1.1rem;
    font-weight: 900;
}

button {
    color: var(--header-color);
    background-color: var(--side-bar-color);
    border-style: none;
    border-radius: 20px;
}

button:active {
    border: 2px solid var(--side-bar-color);
    color: var(--side-bar-color);
    background-color: var(--header-color);
    box-shadow: 1px 1px 5px var(--side-bar-color);
 }

/* Sidebar */

.sidebar {
    grid-area: 1 / 1 / 3 / 2;
    background-color: var(--side-bar-color);
    display: grid;
    padding: 5% 20% 20% 5%;
    
}

.navtile > a > svg {
    width: var(--svg-size);
    fill: var(--header-color);
}

.navtile > a {
    align-items: center;
    display: grid;
    grid-template-columns: 1fr 2fr;
    padding: 5px;
    color: var(--header-color);
    text-decoration: none;
}

#dashboard {
    height: 50px;
}

a {
    text-decoration: none;
}

a:visited {
    text-decoration: none;
}

/* Main */

.main {
    grid-area: 2 / 2 / 3 / 3;
    background-color: var(--main-background-color);
    display: grid;
    gap: 5px;
    
    grid-template-columns: 80% 20%;
    grid-template-rows: 5% 45% 5% 45%;
    padding: 3% 4% 4% 2%
}

.projects-container {
    display: grid; 
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr ;
}

.main-text{
    font-size: 1.0rem;
    font-weight: 900;
    color: var(--main-font-color);
}

#announcements {
    grid-column-start: 2;
}

.annoucements-container {
    grid-area: 2 / 2 / 3 / 3;
    background-color: var(--header-color);
    border-style: none;
    border-radius: 5px;
    display: grid;
    grid-template-rows: repeat(3, 1fr);
    padding-left: 5%;
    padding-right: 5%;
    
}

.annoucement-box {
    font-size: .6rem;
    padding: 5% 0% 5% 0%;
    border-bottom-style: solid;
    border-width: 1px;
    border-color: var(--accent-color);
    overflow:hidden
    
}
.announce-title {
    font-weight: 900;
}

#last-announce {
    border-bottom-style: none;
}

#trending {
    grid-column-start: 2;
    grid-row-start: 3;
}

.trending-container {
    grid-area: 4 / 2 / 5 / 3;
    border-style: none;
    border-radius: 5px;
    background-color: var(--header-color);
    display: flex;
    flex-direction: column;
}

.other-container {
    display: grid;
}


